body {
  background-color: #77ACFF;
}
html,
body,
#app,
#app > div {
  height: 100%;
}
#root {
  height: 100% !important;
  position: absolute;
  width: 100% !important;
}
.footer {
  margin-top: auto;
  background-color: #2B3E5C;
  width: 100%;
  position: sticky;
  bottom: 0;
  padding: 5px;
}
.footer ul {
  text-decoration: none;
  list-style: none;
  margin-bottom: 0;
}
.footer a {
  text-decoration: none;
  text-align: center;
  color: #D1E3FF;
}
.footer a:hover {
  text-decoration: underline;
}
.nav-container {
  height: 90px;
  background-color: #D1E3FF;
  background: #D1E3FF;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #D1E3FF 0%, #207cca 60%, #1e5799 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #D1E3FF 0%, #207cca 60%, #1e5799 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #D1E3FF 0%, #207cca 60%, #1e5799 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D1E3FF', endColorstr='#1e5799', GradientType=1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow-y: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}
.link-logo {
  position: relative;
}
.link-logo img {
  width: 149px;
  position: absolute;
  left: 0.5em;
}
.nav-container ul {
  padding-inline-start: 5px;
}
.nav-container nav {
  margin-top: 6px;
  float: right;
}
.call-button {
  position: absolute;
  top: 9px;
  right: 0px;
  padding: 10px;
  border-radius: 50px;
  margin: 20px 8px;
}
.menu-bar {
  background-color: #1e55a861;
  height: 7px;
  width: 35px;
  margin: 6px 0;
  border-radius: 10px;
}
.menu-button {
  margin-top: 18px;
  border-radius: 4px;
  margin-left: 5px;
}
.radio-selectors {
  display: inline-block;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: #717171;
}
.dot-active {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
}
.carousel-container button {
  background-color: Transparent;
  border: none;
}
.carousel-container button:focus {
  outline: 0;
}
.carousel-container button:active {
  transform: translateY(4px);
}
.dots {
  align-self: center;
}
.carousel-container {
  width: 100%;
  position: relative;
}
.slide:image {
  width: 100%;
  z-index: 0;
  position: absolute;
}
.slider-controls {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
}
.selector-div {
  align-self: flex-end;
}
.arrow {
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  opacity: 0.4;
}
.arrow:hover {
  opacity: 1;
}
.service-d {
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 7px 4px rgba(55, 113, 200, 0.2);
  -moz-box-shadow: 5px 5px 7px 4px rgba(55, 113, 200, 0.2);
  box-shadow: 5px 5px 7px 4px rgba(55, 113, 200, 0.2);
  margin: 20px;
  background-color: #3771C8;
}
.service-d h3 {
  margin: auto;
  color: #D1E3FF;
  text-shadow: 2px 1px 1px rgba(173, 173, 173, 0.8);
  text-align: center;
}
.service-d p {
  color: #D1E3FF;
  text-shadow: 2px 1px 1px rgba(173, 173, 173, 0.8);
  text-align: center;
  position: relative;
  margin-top: 10px;
  text-align: left;
  padding-left: 2px;
}
.mission {
  background-color: #1e55a8;
  height: 220px;
  position: relative;
  bottom: 21px;
  z-index: -1;
}
.main-overflow {
  overflow-y: scroll;
}
.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service-container img {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 5px;
}
.service-gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.service-gallery .row {
  width: 150px;
  margin: 5px;
}
